
hr{
  border-style: solid none none none;
  border-color: grey;
  border-width: 5px;
 
  width: 100%
}

.tweets-container header {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
}

.tweets-container {
  
  font-size: 15px;

  margin-top: 50px;
  padding-left: 1.5em;
  padding-right: 1.5em;
  
  width: auto;
}


.tweets-container footer{
  display: flex;
  margin-bottom: 20px;
  justify-content: space-between;
 
}

.tweets-container article{
  border: 1px solid black;
  margin-bottom: 50px;
  padding-left: 1.5em;
  padding-right: 1.5em;
  
}
.tweets-container article:hover{
  box-shadow: 2px 5px;
}

.tweets-container h3{
  opacity: 0.5;
}
i:hover{
  cursor: pointer;
  opacity: 0.5;
}

