header{
  border: 1px solid red;
  height: 400px;
  width: 100vw;
  position: absolute;
  top: 0;
  z-index:-1;

  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;

  background-color: #FAF1E6;
  margin-top: 120px;
}

h2{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;

}
