nav {
  align-items: center;
  background-color: #125D98;
  border: 5px solid white;
  color: #FFFF;
  display: flex;

  height: 120px;
  justify-content: space-between;
  padding-left: 1.5em;
  padding-right: 1.5em;

  position: fixed;
  width: 100vw;
}

.tweeter {
  font-family: Bungee, sans-serif;
}

nav i {
  color: red;
}


.block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
