.btn-counter {
  display: flex;
  justify-content: space-between;
}

.btn-counter output {
  font-weight: bold;
}


.button1 {
  background-color: #125D98;
  color: #FFFF;

  justify-content: space-between;
  font-family: Bungee, sans-serif;
}

.button1:hover {
  color: aqua;
  cursor: pointer;
  transition-duration: 0.4s;
}


.container {
  border: 5px solid red;
  margin-top: 10px;
  padding-left: 1.5em;
  padding-right: 1.5em;
  width: 100%;
}

.new-tweet label {
  font-weight: bold;
}

#tweet-text {
  border: none;
  border-bottom: 2px solid #125D98;
  box-sizing: border-box;
  background-color: #f4f1ec;
  width: 100%;
}
