.btn-counter {
  display: flex;
  justify-content: space-between;
}

.btn-counter output {
  font-weight: bold;
}


.button1 {
  background-color: #125D98;
  color: #FFFF;

  justify-content: space-between;
  font-family: Bungee, sans-serif;
}

.button1:hover {
  color: aqua;
  cursor: pointer;
  transition-duration: 0.4s;
}


.container {
  /* border: 2px solid #00A8CC; */
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  padding-left: 1.5em;
  padding-right: 1.5em;
  width: 100%;
}

.error-message{
  background-color: red;
  border: 1px solid black;
  color: white;

  display: none;
  font-weight: bold;
  margin-bottom: 50px;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.new-tweet label {
  font-weight: bold;
  font-size: larger;
}

.new-tweet form{
  padding-top: 20px;
  padding-left: 1em;
  padding-right: 1em;
}

#tweet-text {
  border: none;
  border-bottom: 2px solid #125D98;
  box-sizing: border-box;
  background-color: #f4f1ec;
  width: 100%;
}
